# Python caches
__pycache__/
*.pyc
*.pyo

# Logs
logs/

# Model outputs / temporary AI artifacts
*.feather
*.pkl
sp_project/mlruns/baseline/*

# unnecessary notebooks
notebooks/

# Static / temporary files
st/

# Git directory
.git/

# VSCode / IDE configs
.vscode/
.idea/

# Docker files that shouldn’t be copied
Dockerfile*
docker-compose.override.yml